cmake.check_cache
build.make
.project
.project/
.texlipse
.pydevproject
*.make
link.txt
Makefile
CMakeFiles/
org.eclipse.*
CMakeCache.txt
.cproject
*.bak
*.log
*/.cproject
*.a
*CTestCostData.txt
CTestTestFile.cmake
cmake_install.cmake
*.user
*.swp
_CPack_Packages
*.pyc
/*.kdev4
